/* Global */

:root {

    /* Color */
  
    --color-white: #ffffff;
  
    --color-light-white: #eeeeee;
  
    --color-dark-white: #bdbdbd;
  
    --color-pink: #fe918d;
  
    --color-dark-pink: #ff6863;
  
    --color-dark-grey: #4d4d4d;
  
    --color-grey: #616161;
  
    --color-light-grey: #7c7979;
  
    --color-dark-blue: #7ddbf7;

    --color-blue: #95e1f3;

    --color-right-blue:#a4e5ee;
  
    --color-yellow: #fff7d1;
  
    --color-orange: #feb546;
  
    --color-black: #000000;
  
    /* Font size */
  
    --font-large: 48px;
  
    --font-medium: 28px;
  
    --font-regular: 18px;
  
    --font-small: 16px;
  
    --font-micro: 14px;
  
    /* Font weight */
  
    --weight-bold: 700;
  
    --weight-semi-bold: 600;
  
    --weight-regular: 400;

    /* Size */
    --size-boder-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
  
  }
 
/* section */
  .section{margin: auto; 
    padding: 50px;
    text-align: center; }

  .section__container{
    margin: auto;
    max-width: 1400px;
  }

  .text__container{
    margin: auto;
    max-width: 1000px;
  }
  
  /* Universal tags */
  *{
      box-sizing: border-box;
  }

  body{
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      cursor: default;
  }
  a{
      text-decoration: none;
      color: var(--color-white);
  }
  
  ul{
      list-style: none;
      padding-left: 0;
  }
  button{
    /*  */
    background-color: transparent;
  }

  
  /* Typography */
  
  h1 {
  
    font-size: var(--font-large);
  
    font-weight: var(--weight-bold);
  
    color: var(--color-black);
  
    margin: 16px 0px;
  
  }
  
  h2 {
  
    font-size: var(--font-medium);
  
    font-weight: var(--weight-semi-bold);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  h3 {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 8px 0;
  
  }
  
  p {
  
    font-size: var(--font-regular);
  
    font-weight: var(--weight-regular);
  
    color: var(--color-black);
  
    margin: 4px 0;
  
  }

  

  /* Nav */
  #navbar{display:flex; justify-content: space-between; padding: 16px; color: var(--color-white); 
    background-color: var(--color-right-blue); align-items: center;}
  
  .navbar__logo{font-weight: var(--weight-semi-bold); font-size: var(--font-medium);}
  .nav__barmenu{display: flex;}
  .navbar__menu__item{margin: 0 4px; padding: 8px 16px; border-radius: var(--size-boder-radius); cursor: pointer; 
    transition: all var(--animation-duration) ease;}
  .navbar__menu__item.active{border: 1px solid white; }
  .navbar__menu__item:hover{background: var(--color-dark-blue);}

  /* Home */
  #home{ background: url(imgs/home-bk.png) no-repeat; background-size: auto; text-align: center; }
  
  .square-ct{position: relative;}
  .square{display: flex; align-items: center; width: 250px;height: 250px; margin: auto; border: 2px solid var(--color-white); 
    -webkit-animation: rotation 5s infinite linear;}
    @-webkit-keyframes rotation {
      from {-webkit-transform: rotate(0deg);}
      to   {-webkit-transform: rotate(359deg);}}
  
  .home__avatar{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 250px; height: 250px; border: 2px solid var(--color-white); border-radius: 50%;}
  .home__title,
  .home__description{color: var(--color-white);}
  .home__contact{margin: 24px; padding: 8px 12px; color: var(--color-white); font-weight: var(--weight-bold)0; font-size: var(--font-regular);
  border: 2px solid var(--color-white); border-radius: var(--color-white);}

  /* About */
  #about{padding:40px 0 40px 0;}

  .about__majors{display: flex; justify-content: center; margin: auto; padding: 30px;}

  .major{padding: 30px; }
  .majors__icon{width: 170px; height: 170px; margin: auto; color: var(--color-right-blue); font-size: 70px; 
    line-height: 170px; text-align: center; border: 2px solid var(--color-right-blue); border-radius: 50%;}
  .majors__icon>i{ transition: all var(--animation-duration) ease;}  
  .majors__icon>i:hover{color: var(--color-dark-blue); transform: rotate(-30deg) scale(1.2);}

  .study{display: flex; text-align: center; padding: 10px 0;}
  .study__logo{width: 180px; height: 50px;}
  .study__name{font-weight: var(--weight-bold ); font-size: var(--font-small);}
  .studt__period{font-size: var(--font-micro);}
  .study__name,
  .study__period{color: var(--color-light-grey);}
  .study__container{padding: 0 16px; text-align: center;} 

  /* Skills */
  #skills{background-color: var(--color-yellow);}

  .skillset{display: flex; margin-top: 20px; color: var(--color-light-white); background-color: var(--color-light-grey);}
  .skillset__title{color: var(--color-light-white);}
      /* 플렉스 박스안의 상자크기를 조절   */
  .skillset__left{flex-basis: 60%; padding: 20px 40px; background-color: var(--color-dark-grey);}
  .skillset__right{flex-basis: 40%;}
  
  .skill{margin-bottom: 32px;}
  .skill__description{display: flex; justify-content: space-between;}
  .skill__bar{width: 100%; height: 3px; background-color: var(--color-light-grey);}
  .skill__value{height: 3px; background-color: var(--color-orange);}
  
  .tools{width: 100%; background-color: var(--color-grey);}
  .tools,
  .etc{padding: 20px;}

  /* Work */
  .work__categories{margin: 40px;}

  .category__btn{padding: 8px 48px; font-size: var(--font-regular); 
    border: 1px soild #7c7979; border-radius: var(--size-boder-radius);}
  .category__btn:hover,
  .category__btn.active{color: var(--color-white); background-color: var(--color-right-blue);}

      /* 내려오는 애니매이션 효과 */
  .category__count{position: relative; top:-20px; left: 4px; display: inline-block; width: 24px; height: 24px; color: var(--color-white); line-height: 24px; 
  background-color: orange; border-radius: 50%; opacity: 0; transition: all var(--animation-duration) ease-in;}
      /*카테고리 버튼이 액티브상태일의 카테고리 카운트  */
  .category__btn.active .category__count,
      /*카테고리 버튼에 마우스가 호버됐을때 안에있는 카테고리 카운트일때만   */
  .category__btn:hover .category__count{opacity: 1; top: 0;}


  .work__projects{display: flex; flex-wrap: wrap; justify-content: center;}
  .project{display: flex; justify-content: center; position: relative; width: 280px; height: 250px; margin: 2px; background-color: var(--color-light-white);}
  .project>img{padding: 10px; max-width: 100%; max-height: 100%; align-items: center;}
  .project__description{display: flex;  flex-direction: column; justify-content: center;
     position: absolute;  top: 0; left:0; width: 100%; height: 100%; background-color: black;
    opacity: 0; transform: translateY(10px);  transition: all var(--animation-duration) ease-in;}
  .project:hover .project__description{opacity: 0.8; transform: translateY(0px);}
  .project__description>h3{ padding: 10px 0; margin:0px; color: var(--color-white);}
  .project__description>h3::after{position: absolute; left: 44%; bottom: 46%; content: ''; width: 25px; height: 2px;
     background-color: var(--color-dark-white);}
  .project__description~span{padding: 10px 0;}

